<div class="container mt-5">
    <%= form_with(model: @user, method: :patch, data: { turbo: false }) do |form| %>

        <h2 class="m-0 p-0"><b><%= @user.name %></b></h2>
        <h5 class="mb-0 pb-0">edit user</h5>
        <hr class= "mt-1" width="250">
        <div>
          <%= form.label :name %>
          <%= form.text_field :name, style: "display: block" %>
        </div>

        <div>
          <%= form.label :email %>
          <%= form.text_field :email, style: "display: block" %>
        </div>

        <div>
          <%= form.label :role %>
          <%# integer for role %>
          <%= form.select :role, options_for_select([['Admin', 1], ['Employee', 2], ['Customer', 3]], @user.role), {include_blank: true}, style: "display: block" %>

        <br>

        <div>
            <%= form.submit "Save", class: "btn btn-success" %>
            <%# link_to back button %>
            <%= link_to "Back", '/users/index', class: "btn btn-secondary" %>
            <%# delete button %>
            <%= link_to "Delete", delete_user_path(@user), method: :delete, data: { confirm: 
                "This will permenantly delete user: #{@user.name.upcase} if and ONLY IF they have not been assigned to appointments or projects. If it goes through, this action cannot be undone. This action is intended for correcting accidental user creation, not ex-employees. Are you sure you want to continue?" 
                }, class: "btn btn-danger" %>
        </div>

    <% end %>

    <br>
    <br>
</div>