<%= form_for(@appointment, url: appointments_path, html: { style: "max-width:480px;margin:auto" }, data: { turbo: false }) do |f| %>
  <br>
  <div class="container border rounded p-3">
    <div class="row g-1">
      <!-- Scheduled Date Field -->
      <div class="col-sm-4 mb-3">
        <%= f.label :scheduled_date %>
        <%= f.date_field :scheduled_date, class: "form-control", required: true %>
      </div>
      <!-- Appointment Type Field (here for now, may move it to the edit page later) -->
      <div class="col-sm-4 mb-3">
        <%= f.label :appointment_type %>
        <%= f.select :appointment_type, options_for_select([["Type 1", 1], ["Type 2", 2]]), {}, class: "form-select", required: true %>
      </div>
      <!-- Appointment Status Field (here for now, may move it to the edit page later) -->
      <div class="col-sm-4 mb-3">
        <%= f.label :status %>
        <%= f.select :status, options_for_select([["Status 1", 1], ["Status 2", 2]]), {}, class: "form-select", required: true %>
      </div>
    </div>
    <div class="row g-1">
      <!-- Scheduled Start Time Field -->  
      <div class="col-sm-4 mb-3">
        <%= f.label :scheduled_start %>
        <%= f.time_field :scheduled_start, class: "form-control", required: true %>
      </div>
      <!-- Scheduled End Time Field -->  
      <div class="col-sm-4 mb-3">
        <%= f.label :scheduled_end %>
        <%= f.time_field :scheduled_end, class: "form-control", required: true %>
      </div>
    </div>
    <div class="row g-1">
      <div>
        <!-- Notes Field -->  
        <div>
          <%= f.label :note %>
          <%= f.text_area :note, class: "form-control", style: "resize: none; height: 100px;" %>
        </div>
      </div>
    </div>
    <div class="row g-1">
      <div class="col-sm-4 mt-3 text-center">
        <%= f.submit "Create Appointment", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>