<%= form_for(@appointment, url: appointments_path, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :scheduled_date %>
    <%= f.date_field :scheduled_date %>
  </div>

  <div>
    <%= f.label :scheduled_start %>
    <%= f.time_field :scheduled_start %>
  </div>

  <div>
    <%= f.label :scheduled_end %>
    <%= f.time_field :scheduled_end %>
  </div>

  <div>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div>
    <%= f.submit "Create Appointment"%>
  </div>
<% end %>
