<!DOCTYPE html>
<html>
  <head>
    <title>SyncMaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <%= render 'pages/header' %>
  <body>
  <%# custom dismissable bootstrap alerts and notices %>
    <% flash.each do |key, message| %>
      <div class="alert <%= bootstrap_class_for(key) %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <% end %>

    <%= yield %>
  </body>
</html>
